mappingmethode="rotom" 
user="yourusername"
password="yoursecretpassword"
backendURL="http://your-rdmserver-ip:9000"
timezone="Europe/Madrid"
autoupdate="true"
autoupdateurl="https://raw.githubusercontent.com/Astu04/eMagisk/master/custom/ATVServices.sh"
enable_adb_over_wifi="false"
discord_webhook=""
